# Object files, in general
*.o
*.a
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs
.*.aux
*.cmti
*.cmt
*.merlin
# Emacs saves
*~
# Executables and configuration
CONFIGURE

*.vo
*.vok
*.vos
*.glob
*.v.d
.depend
.loadpath
.loadpath-export
version.v
coqide
*.cache
*~
*#
.#*
*.aux
doc/html/
_CoqProject
.loadpath-export
_CoqProject-export

*.exe

*.DS_Store

# IDE files
*nbproject
*.idea/
*CMakeLists.txt
*cmake-build-debug/

concurrency/.coqdeps.d
concurrency/Makefile
*.vos
*.vok
*.log
concurrency/Verification of Concurrent Binary Search Tree.log
concurrency/Verification of Concurrent Binary Search Tree.pdf
concurrency/Verification of Concurrent Binary Search Tree.synctex.gz
